.footer {
  border-top: 1px solid hsl(var(--border));
  padding: 1rem 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-size: 0.875rem;
}

.footer__link {
  color: hsl(var(--foreground));
  text-decoration: none;
  text-underline-offset: 0.25rem;
}
.footer__link:hover {
  text-decoration: underline;
}
