.main {
  flex-grow: 1;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  scroll-margin: 5rem;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .title {
    font-size: 3rem;
    line-height: 1;
  }
}

.description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.footer {
  border-top: 1px solid hsl(var(--border));
  padding: 1rem 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-size: 0.875rem;
}

.footer__link {
  color: hsl(var(--foreground));
  text-decoration: none;
  text-underline-offset: 0.25rem;
}
.footer__link:hover {
  text-decoration: underline;
}
