.post {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.post__img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: var(--radius);
}

.post__btn {
  width: 100%;
  text-decoration: none;
}
